<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="game-page">
    <div class="row header-content">
      <div class="col-sm-3">
        
        <img class="profile-image-class"   src="http://localhost:4200/assets/{{gameService?.user?.profileImagePath}}">
      </div>
      <div class="col-sm-9">
        <h4>Scoober Team</h4>
        <h6>Win the game or win the job</h6>
      </div>
    </div>
    <div class="row row-hight">
      <div class="col-sm border-left border-right border-top">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

